img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

p {
    text-align: center;
    font-size: 25px;
}

h1 {
    text-align: center;
    font-family: "Courier New", serif
}
body {
    background-color: darkred;
}

ul {
    text-align: left;
    font-size: 25px;
    font-family: "Courier New", Courier, monospace;
}

