html {
    scroll-behavior: smooth;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

p {
    text-align: center;
    font-size: 25px;
}

h1 {
    text-align: center;
    font-family: "Courier New", serif
}
body {
    background-image: linear-gradient(to right,red,grey);
}

ul {
    text-align: center;
    font-size: 25px;
    width: 30%;
    margin: auto;
}

h2 {
    text-align: center;
    font-size: 25px;
    color: white;
}
