h1 {
    color: black;
}

.left {
    width: 100%;
    margin: auto;
    text-align: left;
}

.center {
    width: 100%;
    margin: auto;
    text-align: center;
}

.center-list {
    width: 50%;
    list-style-position: inside;
    text-align: left;
    display: inline-block;
}

.activities-list {
    list-style-type: circle;
}

.container {
    width: 200px;
    height: 120px;
}

.container img {
    width: 100%;
    height: auto;
}

.down {
    position: absolute;
    bottom: 0;
}
